* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #e66465, #9198e5);
  padding: 10px;
}

.todoList {
  background: #fff;
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

h2 {
  color: #191970;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F0FFFF;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

#userinput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

#enter {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  color: #fff;
  background: #FF4500;
  padding: 10px 30px;
}

ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  margin: 10px 20px 10px;
  position: relative;
}

ul li button.btn {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-radius: 40px;
  padding: 5px;
  border: none;
  outline: none;
  background: #4169E1;
  color: #fff; 
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

